/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.wrapper {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    background-color: #007BFF; /* Blue background */
    color: #ffffff; /* White text */
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


.inputfield {
    margin-bottom: 15px;
}

.inputfield label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.inputfield input[type="text"],
.inputfield input[type="checkbox"],
.inputfield select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.check {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.custom_select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: url("https://cdn3.iconfinder.com/data/icons/fatcow/32/bullet_error.png") no-repeat right center / 15px 15px;
    outline: none;
}

.btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
